@section head {
    <meta property="og:title" content="@ViewData["Title"]" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="@Core.Settings.Current.WebSiteUrl" />
    <meta property="og:image" content="@Core.Settings.Current.FacebookImage" />
    <meta property="og:description" content="@Core.Settings.Current.DefaultDescription" />

    <meta name="keywords" content="@Core.Settings.Current.DefaultKeywords" />
    <meta name="description" content="@Core.Settings.Current.DefaultDescription" />
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <article class="col-md-12">
        <a href="https://devdigest.today">Developers Digest</a> is an aggregator of news about .NET Core, Azure, Xamarin from the world. Our site is filling with publications related to cross-platform development, .NET technology stack and development for mobile devices on the Xamarin platform. 
        <br />
        This site is open source project, which placed on <a href="https://github.com/dncuug/dot-net.in.ua"> GitHub</a>.
        <br />
        We use .NET Core for develope it and we host all our stuff on Microsoft Azure. <br />
        <br />
        If you have ideas for improving the work of the site, or for filling it - <a href="https://github.com/dncuug/dot-net.in.ua/issues"> write </a>!
    </article>
</div>
<div class="row">
    <article class="col-md-12">
        <h2>About project founders</h2>

        <div class="panel panel-default">
            <div class="panel-body">
                <div class="col-md-3">
                    <img class="img-responsive img-thumbnail founder" src="https://scontent.fiev3-1.fna.fbcdn.net/v/t1.0-9/18157318_1173437062802376_7889155451464875729_n.jpg?oh=1ef7335395be7a56916ae013214b5b39&amp;oe=5A2D7A52" alt="Andrey Gubskiy" />
                </div>
                <div class="col-md-9">
                    <h3 class="media-heading">
                        <a href="https://andrew.gubskiy.com">Andrew Gubskiy</a>
                    </h3>
                    <h4>.NET Core Ukrainian User Group Founder</h4>
                    PhD, IT Consultant, IT projects manager, specialist in software development. CTO at <a href="https://torf.tv">Torf TV</a>.<br />
                    Visual Studio and Development Technologies <a href="https://mvp.microsoft.com/en-us/PublicProfile/5002895">MVP</a>.<br />
                    <br />
                    Professional interests: 
                    <ul>
                        <li>Software Architecture;</li>
                        <li>Databases;</li>
                        <li>Cloud Technologies.</li>
                    </ul>
                    The main activity is the development of integrated cross platform systems and web applications based on cloud platforms.
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-body">
                <div class="col-md-3">
                    <img class="img-responsive img-thumbnail founder" src="https://scontent.fiev2-1.fna.fbcdn.net/v/t1.0-9/22527975_10214749279744677_4981362068588878838_n.jpg?oh=f01221258fd917be616b84efb4eaf7d7&oe=5AD43ECC" alt="Dmitriy Ivanov" />
                </div>
                <div class="col-md-9">
                    <h2 class="media-heading">
                        <a href="https://facebook.com/drakonoffnet">Dmytriy Ivanov</a>
                    </h2>
                    <h4>Xamarin Ukraine User Group Founder</h4>
                    Professional interests: 
                    <ul>
                        <li>Mobile Development</li>
                        <li>Cloud Technologies.</li>
                    </ul>
                    The main activity is the development of the Web and Mobile applications.
                </div>
            </div>
        </div>
        
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="col-md-3">
                    <img class="img-responsive img-thumbnail founder" src="https://scontent-waw1-1.xx.fbcdn.net/v/t1.0-1/p720x720/11221520_1615694975365952_5511484586051741836_n.jpg?oh=dc2b32c4cfdc859f560d9fba0de9b1b2&oe=5A761C17" alt="Anton Boyko" />
                </div>
                <div class="col-md-9">
                    <h2 class="media-heading">
                        <a href="http://boykoant.pro">Anton Boyko</a>
                    </h2>
                    <h4>Microsoft Azure Ukraine User Group Founder</h4>
                    MVP, Founder and Senior Speaker at Ukrainian Microsoft Azure Community, DevOps Evangelist.<br />
                    Professional interests: 
                    <ul>
                        <li>Cloud Technologies;</li>
                        <li>DevOps Technologies;</li>
                        <li>Software Architecture.</li>
                    </ul>
                </div>
            </div>
        </div>
    </article>

</div>     
