@section head {
    <meta property="og:title" content="@ViewData["Title"]" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="@Core.Settings.Current.WebSiteUrl" />
    <meta property="og:image" content="@Core.Settings.Current.FacebookImage" />
    <meta property="og:description" content="@Core.Settings.Current.DefaultDescription" />

    <meta name="keywords" content="@Core.Settings.Current.DefaultKeywords" />
    <meta name="description" content="@Core.Settings.Current.DefaultDescription" />
    <link rel="stylesheet" href="/css/profile.css" />
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <article class="col-md-12">
        <a href="https://devdigest.today">Developers Digest</a> is an aggregator of news about .NET Core, Azure, Xamarin from the world. Our site is filling with publications related to cross-platform development, .NET technology stack and development for mobile devices on the Xamarin platform. 
        <br />
        This site is open source project, which placed on <a href="https://github.com/dncuug/dot-net.in.ua"> GitHub</a>.
        <br />
        We use .NET Core for develope it and we host all our stuff on Microsoft Azure. <br />
        <br />
        If you have ideas for improving the work of the site, or for filling it - <a href="https://github.com/dncuug/dot-net.in.ua/issues"> write </a>!
    </article>
</div>
<div class="row">
    <article class="col-md-12">
        <h2>Team</h2>

            <div class="profile-card">
                <div class="profile-cover" style="background-image: url('/images/team/bg_andrew.jpg');">                    
                    <div class="profile-avatar">                    
                        <a href="#"><img style="width: 100%;" src="https://habrastorage.org/webt/m2/nz/l-/m2nzl-dt-aj2wjkiigpik1layie.jpeg" alt="Andrew Gubskiy" /></a>
                    </div>
                    <div class="profile-details">
                        <h1>
                            <a style="color: #FFF" href="https://andrew.gubskiy.com">Andrew Gubskiy</a>
                        </h1>
                        <h4>.NET Core Ukrainian User Group Founder</h4>
                    </div>
                </div>
                <div class="profile-info">                    
                    <div class="info-area">
                        PhD, IT Consultant, IT projects manager, specialist in software development. CTO at <a href="https://torf.tv">Torf TV</a>.<br />
                        Visual Studio and Development Technologies <a href="https://mvp.microsoft.com/en-us/PublicProfile/5002895">MVP</a>.<br />
                        <br />
                        Professional interests: 
                        <ul>
                            <li>Software Architecture;</li>
                            <li>Databases;</li>
                            <li>Cloud Technologies.</li>
                        </ul>
                        The main activity is the development of integrated cross platform systems and web applications based on cloud platforms.
                    </div>
                    <div class="clear"></div>
                </div>     
            </div>

             <div class="profile-card">
                <div class="profile-cover" style="background-image: url('/images/team/bg_dima.jpg');">                    
                    <div class="profile-avatar">                    
                        <a href="#"><img style="width: 100%;" src="/images/team/dima.jpg" alt="Dmitriy Ivanov" /></a>
                    </div>
                    <div class="profile-details">
                        <h1>
                            <a style="color: #FFF" href="https://facebook.com/drakonoffnet">Dmytriy Ivanov</a>
                        </h1>
                        <h4>Xamarin Ukraine User Group Founder</h4>
                    </div>
                </div>
                <div class="profile-info">                    
                    <div class="info-area">
                        Professional interests: 
                        <ul>
                            <li>Mobile Development;</li>
                            <li>Cloud Technologies.</li>
                        </ul>
                        The main activity is the development of the Web and Mobile applications.
                    </div>
                    <div class="clear"></div>
                </div>                
            </div>

            <div class="profile-card">
                <div class="profile-cover" style="background-image: url('/images/team/bg_anton.jpg')">                    
                    <div class="profile-avatar">                    
                        <a href="#"><img style="width: 100%;" src="https://habrastorage.org/webt/ms/3s/ln/ms3sln0rhy9c0a6ebpapyjn7cqk.jpeg" alt="Anton Boyko" /></a>
                    </div>
                    <div class="profile-details">
                        <h1>
                            <a style="color: #FFF" href="http://boykoant.pro">Anton Boyko</a>
                        </h1>
                        <h4>Microsoft Azure Ukraine User Group Founder</h4>
                    </div>
                </div>
                <div class="profile-info">
                    
                    <div class="info-area">
                        Microsoft Azure MVP, Founder and Senior Speaker at Ukrainian Microsoft Azure Community, DevOps Evangelist.<br />
                        <br />
                        Professional interests: 
                        <ul>
                            <li>Cloud Technologies;</li>
                            <li>DevOps Technologies;</li>
                            <li>Software Architecture.</li>
                        </ul>
                    </div>
                    <div class="clear"></div>
                </div>     
            </div>


            <div class="profile-card">
                <div class="profile-cover" style="background-image: url('/images/team/bg_illia.jpg')">
                    <div class="profile-avatar">                    
                        <a href="#"><img style="width: 100%;" src="/images/team/illia.jpg" alt="Illia Lubenets" /></a>
                    </div>
                    <div class="profile-details">
                        <h1>
                            <a style="color: #FFF" href="https://www.facebook.com/illialubenets">Illia Lubenets</a>
                        </h1>
                        <h4>.NET Core Ukrainian User Group Co-Founder</h4>
                    </div>
                </div>
                <div class="profile-info">                    
                    <div class="info-area">
                        Founder of <a href="/content/developex-tech-club">Developex Tech Club</a>, MSP Roadshow Co-Organizer<br />
                        <br />
                        Professional interests: 
                        <ul>
                            <li>Cloud Technologies;</li>
                            <li>Distributes Systems;</li>
                            <li>Software Architecture.</li>
                        </ul>                        
                    </div>
                    <div class="clear"></div>
                </div>
            </div>

    </article>

</div>
