@section head {
    <meta property="og:title" content="@ViewData["Title"]" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="@Core.Settings.Current.WebSiteUrl" />
    <meta property="og:image" content="@Core.Settings.Current.FacebookImage" />
    <meta property="og:description" content="@Core.Settings.Current.DefaultDescription" />

    <meta name="keywords" content="@Core.Settings.Current.DefaultKeywords" />
    <meta name="description" content="@Core.Settings.Current.DefaultDescription" />
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <article class="col-md-12">
        <h2>Demo VI Sharing</h2>
        
        <div id="viAdUnit"></div>
        <script>
          (function (v,i){
            // 59674276073ef41e33501409 , 59674276073ef41e33501408
            var source = window.viStories.source,
              config = window.viStories.testcases[getParameterByName('id')].config,
              // tag template V3
              ins,win,scr;
              config.DivID&&(v.getElementById(config.DivID)?(ins=v.getElementById(config.DivID),win=i):i.frameElement&&i.parent.document.getElementById(config.DivID)&&(ins=i.parent.document.getElementById(config.DivID),win=i.parent)),
              ins||(i.frameElement&&"1"===i.frameElement.width&&"1"===i.frameElement.height?(ins=i.frameElement.parentNode.parentNode,win=i.parent):(ins=v.body||v.documentElement.appendChild(v.createElement("body")),win=i)),
              scr=win.document.createElement("script"),
              scr.id="vi-"+config.PublisherID,
              scr.src=source,
              scr.async=!0,
              scr.onload=function(){win[btoa('video intelligence')].run(config,void 0===v.currentScript?v.scripts[v.scripts.length-1]:v.currentScript,source)},
              ins.appendChild(scr);
          })(document,window)
        </script>
        <script>
          // Log the current testcase configuration
          console.log('Testcase id: ' + getParameterByName('id'));
          console.log('Source path: ' + window.viStories.source);
          console.log('Config: ');
          console.dir(window.viStories.testcases[getParameterByName('id')].config);
        </script>

    </article>
</div>

