@{
    ViewData["Title"] = Core.Web.Pages.MicrosoftAzureUkraineUserGroup;    
}

@section head {
    <meta property="og:title" content="@ViewData["Title"]" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="@Core.Settings.Current.WebSiteUrl" />
    <meta property="og:image" content="@Core.Settings.Current.FacebookImage" />
    <meta property="og:description" content="@Core.Settings.Current.DefaultDescription" />

    <meta name="keywords" content="@Core.Settings.Current.DefaultKeywords" />
    <meta name="description" content="@Core.Settings.Current.DefaultDescription" />
}

<h1>@ViewData["Title"]</h1>

A group of developers and application architects in the Microsoft Azure cloud in Ukraine.<br/>
<br />
<ul>
    <li>Facebook Group: <a class="btn-xs btn-success" href="https://facebook.com/groups/azure.ua">facebook.com/groups/azure.ua</a></li>
    <li>Telegram Channel: <a class="btn-xs btn-success" href="https://telegram.me/azure_digest">telegram.me/azure_digest</a></li>
</ul>