@section head {
    <meta property="og:title" content="@ViewData["Title"]" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="@Core.Settings.Current.WebSiteUrl" />
    <meta property="og:image" content="@Core.Settings.Current.FacebookImage" />
    <meta property="og:description" content="@Core.Settings.Current.DefaultDescription" />

    <meta name="keywords" content="@Core.Settings.Current.DefaultKeywords" />
    <meta name="description" content="@Core.Settings.Current.DefaultDescription" />
}

<h1>@ViewData["Title"]</h1>

<h3>.NET Core Ukrainian User Group</h3>
<section>
    Community of developers who love and use .NET Core platform.
    <br />
    <a href="https://www.facebook.com/groups/dncuug/">Go to the site</a>
</section>

<h3>Microsoft Azure Ukraine User Group</h3>
<section>
    A group of developers and application architects in the Microsoft Azure cloud in Ukraine
    <br />
    <a href="https://www.facebook.com/groups/azure.ua/">Go to the site</a>
</section>

<h3>Xamarin Ukraine User Group</h3>
<section>
    This is a group for those who are developing an application using Xamarin.
    <br />
    <a href="https://www.facebook.com/groups/xamarin.ua">Go to the site</a>
</section>

<h3>Metarhia</h3>
<section>
    Metarhia is a technology stack associated with the Node.js that includes components: The Impress application server, the JSTP RPC / MQ protocol, the Global Storage DBMS, the Metasync library for asynchronous programming, and other technologies that enable the development of modern distributed information systems for mobile devices, web and servers with JavaScript as the primary language
    <br />
    <a href="http://metarhia.com">Go to the site</a>
</section>

<h3>Developex Tech Club</h3>
<section>
    Developex Tech Club is a small monthly meetups on various technical topics. Especially for you we select the best specialists and invite them to share their knowledge and experience.
    <br />
    <a href="https://www.facebook.com/Developex-Tech-Club-584649545203672/">Go to the site</a>
</section>
