@{
    ViewData["Title"] = Core.Web.Pages.Partners;
}
@section head {
    <meta property="og:title" content="@ViewData["Title"]" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="@Core.Settings.Current.WebSiteUrl" />
    <meta property="og:image" content="@Core.Settings.Current.FacebookImage" />
    <meta property="og:description" content="@Core.Settings.Current.DefaultDescription" />

    <meta name="keywords" content="@Core.Settings.Current.DefaultKeywords" />
    <meta name="description" content="@Core.Settings.Current.DefaultDescription" />
}

<h1>@ViewData["Title"]</h1>


<section class="partner">
    <h3>.NET Core Ukrainian User Group</h3>
    Community of developers who love and use .NET Core platform.<br/>

    <a class="btn-xs btn-success" href="https://www.facebook.com/groups/dncuug">
        Go to partner website
        <i class="glyphicon glyphicon-log-in"></i>
    </a>
</section>


<section class="partner">
    <h3>Microsoft Azure Ukraine User Group</h3>
    A group of developers and application architects in the Microsoft Azure cloud in Ukraine.<br/>

    <a class="btn-xs btn-success" href="https://www.facebook.com/groups/azure.ua">
        Go to partner website
        <i class="glyphicon glyphicon-log-in"></i>
    </a>
</section>


<section class="partner">
    <h3>Xamarin Ukraine User Group</h3>
    This is a group for those who are developing an application using Xamarin.<br/>

    <a class="btn-xs btn-success" href="https://www.facebook.com/groups/xamarin.ua">
        Go to partner website
        <i class="glyphicon glyphicon-log-in"></i>
    </a>
</section>

<section class="partner">
    <h3>AzureDAY</h3>
    AzureDAY is the annual cloud conference in Ukraine - a meeting of technologies, people, experiences, innovations
    and professional community. <br/>
    <br/>
    The purpose of AzureDAY is to gather professionals that already have practical experience in Azure and also
    beginners that only embark on their Azure journey for effective knowledge sharing. <br/>
    <br/>
    AzureDAY has separate technology threads that profoundly cover various dimensions cloud technologies have. <br/>
    <br/>
    AzureDAY speakers are foreign and domestic cloud experts, trainers, enthusiasts and business owners. <br/>
    <br/>
    AzureDAY is a paid event. A ticket includes free coffee breaks. We have early bird discount, students' discount and
    partners' discount. <br/>
    <br/>
    During AzureDAY you can take part in practical workshops that are being held on 8th of September. Please note that
    if you want to participate in any workshop, you need a dedicated workshop ticket. <br/>
    <br/>
    Workshop attendance is limited by physical limits of trainer's attention, therefore we ask you to tell us which
    workshop you want to attend during ticket purchase.<br/>

    <a class="btn-xs btn-success" href="https://azureday.net">
        Go to partner website
        <i class="glyphicon glyphicon-log-in"></i>
    </a>
</section>


<section class="partner">
    <h3>Developex Tech Club</h3>
    Developex Tech Club is a small monthly meetups on various technical topics. Especially for you we select the best
    specialists and invite them to share their knowledge and experience.<br/>

    <a class="btn-xs btn-success" href="https://www.facebook.com/Developex-Tech-Club-584649545203672">
        Go to partner website
        <i class="glyphicon glyphicon-log-in"></i>
    </a>
</section>

<section class="partner">
    <h3>Ukrainian IT community</h3>
    "Ukrainian IT community" project was founded in early 2014 with the goal of creating an information and communication resource where IT specialists at different levels will be able to obtain up-to-date information on various products, as well as the specifics of their configuration.<br/>
    <br/>
    At the moment, the community is supported by the efforts of the authors, who represent various areas of information technology. This allows the project to cover many areas, which in the end will be more interesting for the reader.<br/>

    <a class="btn-xs btn-success" href="https://it-community.in.ua">
        Go to partner website
        <i class="glyphicon glyphicon-log-in"></i>
    </a>
</section>

<section class="partner">
    <h3>Metarhia</h3>
    Metarhia is a technology stack associated with the Node.js that includes components: The Impress application server,
    the JSTP RPC / MQ protocol, the Global Storage DBMS, the Metasync library for asynchronous programming, and other
    technologies that enable the development of modern distributed information systems for mobile devices, web and
    servers with JavaScript as the primary language.<br/>

    <a class="btn-xs btn-success" href="http://metarhia.com">
        Go to partner website
        <i class="glyphicon glyphicon-log-in"></i>
    </a>
</section>
