@model IList<Core.ViewModels.TelegramViewModel>

@section head {
    <meta property="og:title" content="@ViewData["Title"]" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="@Core.Settings.Current.WebSiteUrl" />
    <meta property="og:image" content="@Core.Settings.Current.FacebookImage" />
    <meta property="og:description" content="@Core.Settings.Current.DefaultDescription" />

    <meta name="keywords" content="@Core.Settings.Current.DefaultKeywords" />
    <meta name="description" content="@Core.Settings.Current.DefaultDescription" />
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <section class="col-md-12">
        
        Here you can find our Telegram channels. We strongly recommend subscribe to them!

        <br /><br />
        <div class="container-fluid">
        @for (var i=0; i<Model.Count; i++)
        {   
            <div class="channel-preview row">
                <div class="col-md-3">
                    <img class="" style="width: 100%" alt="@Model[i].Title" src="@Model[i].Logo" />
                </div>
                <div class="col-md-9">
                    <h3 class="text-left">@Model[i].Title</h3>
                    @Model[i].Description
                    <div class="text-right">
                        <a class="btn btn-default" href="@Model[i].Link">Open channel&nbsp;<i class="glyphicon glyphicon-send"></i></a>
                    </div>
                </div>                
            </div>
        }
        </div>
    </section>
</div>
      
