@{
    Layout = "_GeneralLayout";

    ViewData["Title"] = Core.Web.Pages.UkrainianNETCoreUserGroup;
}

@section head {
    <meta property="og:title" content="@ViewData["Title"]" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="@Core.Settings.Current.WebSiteUrl" />
    <meta property="og:image" content="@Core.Settings.Current.FacebookImage" />
    <meta property="og:description" content="@Core.Settings.Current.DefaultDescription" />

    <meta name="keywords" content="@Core.Settings.Current.DefaultKeywords" />
    <meta name="description" content="@Core.Settings.Current.DefaultDescription" />
}

<div class="row">
    <div class="col-md-12">
        <h1>@ViewData["Title"]</h1>
        
        <img class="img-responsive" src="https://habrastorage.org/webt/f4/du/qz/f4duqzwf23vlyczkkxd3ot6plqo.jpeg" alt="Ukrainian .NET Core User Group"/>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <br />
        Community of developers who love and use .NET Core platform.<br/>
        Founded in august 2016. <br />
        <br />
        <ul>
            <li>Facebook Page: <a class="btn-xs btn-success" href="https://facebook.com/dncuug">facebook.com/dncuug</a></li>
            <li>Facebook Group: <a class="btn-xs btn-success" href="https://facebook.com/groups/dncuug">facebook.com/groups/dncuug</a></li>
            <li>Telegram Channel: <a class="btn-xs btn-success" href="https://telegram.me/dncuug">telegram.me/dncuug</a></li>
        </ul>
    </div>
</div>