@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet
@using Core.Models
@using Core
@{
    var featuredTelegramChannels = new List<Link>
    {
        new("devdigest // net core", "https://t.me/dncuug"),
        new("devdigest // xamarin", "https://t.me/xamarin_digest"),
        new("devdigest // azure", "https://t.me/azure_digest"),
        new("devdigest // data science", "https://t.me/d_science"),
        new("devdigest // live", "https://t.me/live_digest"),
        new("devdigest // vacancies", "https://t.me/vacancies_digest")
    };
    
    var featuredFacebookPages = new List<Link>
    {
        new(".NET Core User Group","https://facebook.com/groups/dncuug"),
        new("Azure User Group","https://facebook.com/groups/azure.ua"),
        new("Xamarin User Group","https://facebook.com/groups/xamarin.ua")        
    };
    
    var featuredTwitterChannels = new List<Link>
    {
        new("//devdigest on Twitter","https://twitter.com/devdigest_today")
    };
    
    var meta = ViewBag.PageMetaData as PageMetaData ?? new PageMetaData();

    var title = string.IsNullOrWhiteSpace(meta.Title)
        ? $"//devdigest | developers digest | All news about .NET Core, Microsoft Azure and Xamarin"
        : $"{meta.Title} - //devdigest | developers digest | All news about .NET Core, Microsoft Azure and Xamarin"; 
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />    
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
    <meta name="msvalidate.01" content="13285491122FD93E71050B4D568B72FA" />
    <meta http-equiv="Content-type" content="text/html; charset=UTF-8" />    
    
    <meta property="fb:pages" content="2024104024583154" />
    <meta property="fb:app_id" content="@Settings.Current.FbAppId" />
    
    <meta property="author" content="@Settings.Current.WebSiteTitle" />
    <meta property="article:author" content="@Settings.Current.FacebookPageUrl">

    @await RenderSectionAsync("head",  required: false)

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu:400,400i,700&amp;subset=cyrillic,cyrillic-ext" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.1.1/bootstrap-social.min.css" />
    <link rel="stylesheet" href="/css/site.css?v=20200515" />

    <meta property="og:site_name" content="@Settings.Current.WebSiteTitle" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="@meta.Title" />
    <meta property="og:description" content="@meta.Description" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="@meta.Url" />
    <meta property="og:image" content="@meta.Image" />

    <meta name="keywords" content="@meta.Keywords" />
    <meta name="description" content="@meta.Description" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@Settings.Current.TwitterAccountName" />
    <meta name="twitter:creator" content="@Settings.Current.TwitterAccountName" />
    <meta name="twitter:title" content="@meta.Title" />
    <meta name="twitter:description" content="@meta.Description" />
    <meta name="twitter:image" content="@meta.Image" />    

    <title>@title</title>
</head>
<body>
    
    <nav class="navbar">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand logo" href="/">//devdigest</a>
            </div>
            
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-left">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Streams <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/page/1?categoryId=1">.NET Core</a></li>
                            <li><a href="/page/1?categoryId=2">Xamarin</a></li>
                            <li><a href="/page/1?categoryId=3">Azure</a></li>
                            <li><a href="/page/1?categoryId=4">Data Science</a></li>
                        </ul>
                    </li>  
                    <li><a href="/vacancies/1">Job</a></li>
                    
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            Events&nbsp; <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">                          
                            <li><a href="/content/cloud-developers-days-2020">Cloud Developers Days 2020</a></li>
                            <li><a href="/content/net-summit-belarus-2020">.NET Summit Belarus 2020</a></li>
                            <li><a href="https://t.me/live_digest">Live Events</a></li>
                            <li role="separator" class="divider"></li>
                            <li class="dropdown-header">Archive</li>
                            <li><a href="/content/ignite-2019">Ignite 2019</a></li>
                            <li><a href="/content/build-2019">Build 2019</a></li>
                            <li><a href="/content/developex-tech-club">Developex Tech Club</a></li>
                            <li><a href="/content/microsoft-tech-summit-warsaw">Microsoft Tech Summit Warsaw</a></li>
                            <li><a href="/content/build-2018">Build 2018</a></li>
                            <li><a href="/content/cloud-developers-days">Cloud Developers Days</a></li>
                        </ul>
                    </li>  
                    
                    <li><a href="/search">Search</a></li>                                 
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Social networks<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-header">Facebook</li>
                            
                            @foreach (var x in featuredFacebookPages)
                            {
                                <li><a href=@x.Url>@x.Title</a></li>
                            }
                            
                            <li role="separator" class="divider"></li>
                            <li class="dropdown-header">Telegram</li>
                            
                            @foreach (var x in featuredTelegramChannels)
                            {
                                <li><a href=@x.Url>@x.Title</a></li>    
                            }
                            
                            <li role="separator" class="divider"></li>
                            <li class="dropdown-header">Twitter</li>
                            
                            @foreach (var x in featuredTwitterChannels)
                            {
                                <li><a href=@x.Url>@x.Title</a></li>    
                            }
                            
                        </ul>
                    </li> 

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/content/platform">Platform</a></li>
                            <li><a href="/content/partners">Partners</a></li>
                            <li><a href="https://github.com/dncuug">Our GitHub</a></li>
                            <li><a href="/content/about-project">About Project</a></li>
                        </ul>
                    </li>                            
                </ul>                
            </div>
            <!--/.navbar-collapse -->
        </div>
    </nav>

    @await RenderSectionAsync("top", required: false)
    
    <div class="container">    
        <div class="content">
            @RenderBody()
        </div>
    </div>

    <footer class="container-fluid">
        <section class="container">
            <div class="row">
                <div class="col-md-3 col-sm-3">
                    <h4>Community</h4>

                    <h5>Facebook</h5>
                    <ul>
                        @foreach (var x in featuredFacebookPages)
                        {
                            <li><a href=@x.Url>@x.Title</a></li>
                        }
                    </ul>
                </div>

                <div class="col-md-4 col-sm-4">
                    <h4>&nbsp;</h4>
                    <h5>Telegram</h5>
                    <ul>
                        @foreach (var x in featuredTelegramChannels)
                        {
                            <li><a href=@x.Url>@x.Title</a></li>
                        }
                    </ul>
                </div>
                <div class="col-md-2 col-sm-2">
                    <h4>Information</h4>
                    <ul>
                        <li><a href="/content/partners">Partners</a></li>
                        <li><a href="/content/about-project">About Us</a></li>
                    </ul>
                </div>
                <div class="col-md-3 col-sm-3 text-right">
                    <br/>
                    <p>//devdigest &copy; @DateTime.Now.Year</p>
                </div>
            </div>
        </section>    
    </footer>
    
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"></script>
    <script src="https://sidecar.gitter.im/dist/sidecar.v1.js" async defer></script>
    <script src="/js/site.js"></script>

    @Html.Raw(JavaScriptSnippet.FullScript)

    @await RenderSectionAsync("scripts", required: false)

    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
    
        ga('create', 'UA-5273549-33', 'auto');
        ga('send', 'pageview');
    </script>
    
    <script>
        ((window.gitter = {}).chat = {}).options = {
            room: 'dncuug/Lobby'
        };
    </script>

</body>
</html>
