<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />    
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, target-densityDpi=device-dpi" />
    <meta name="msvalidate.01" content="13285491122FD93E71050B4D568B72FA" />
    <meta http-equiv="Content-type" content="text/html; charset=UTF-8" />    
    
    <meta property="fb:app_id" content="@Core.Settings.Current.FbAppId" />
    <meta property="og:site_name" content="@Core.Settings.Current.WebSiteTitle" />
    <meta property="author" content="@Core.Settings.Current.WebSiteTitle" />
    <meta property="article:author" content="https://www.facebook.com/dncuug/">
    
    @RenderSection("head",  required: false)

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">    
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&amp;subset=cyrillic" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />        
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/lib/bootstrap-social/bootstrap-social.css" />
    </environment>
    
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/lib/bootstrap-social/bootstrap-social.css" asp-append-version="true" />
    </environment>
    
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-9091710548216122",
        enable_page_level_ads: true
        });
    </script>

    <title>@ViewData["Title"] - .NET Core Ukrainian User Group</title>
</head>
<body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <!-- <div class="navbar-header"> -->
            <div>
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">.NET Core Ukrainian User Group</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-left">
                    <!-- <li class="mobile-hidden"><a>|</a></li> -->
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Streams <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/page/1?categoryId=1">.NET Core</a></li>
                             <li><a href="/page/1?categoryId=2">Xamarin</a></li>
                        </ul>
                    </li>  
                    <li><a href="/vacancies/1">Job&nbsp;<span class="label label-danger">New!</span></a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="https://facebook.com/groups/dncuug/">Facebook</a></li>
                    <li><a href="https://github.com/dncuug">GitHub</a></li>
                    <li><a href="https://telegram.me/dncuug">Telegram</a></li>      

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/partners">@Core.Pages.Partners</a></li>
                            <li><a href="/about">@Core.Pages.AboutUs</a></li>   
                        </ul>
                    </li>                            
                </ul>
            </div><!--/.navbar-collapse -->
        </div>
    </nav>

    @RenderSection("top", required: false)

    <div class="container">    
        <div class="row content">
            <div class="col-md-8">
                @RenderBody()
            </div>
            <div class="col-md-4">

                <div class="fb-page" 
                    data-href="https://www.facebook.com/dncuug"
                    data-width="380" 
                    data-hide-cover="false"
                    data-show-facepile="false"></div>

                <div class="ad">
                    <a href="https://github.com/HowProgrammingWorks">
                        <img alt="How Programming Works" src="/images/banners/hpw.png" />
                    </a>
                </div>
            </div>
        </div>
    </div>


    <footer class="container-fluid">
        <section class="container">
            <div class="col-md-2">
                <h4>Community</h4>
                <ul>
                    <li><a href="https://facebook.com/groups/dncuug/">Facebook</a></li>
                    <li><a href="https://github.com/dncuug">GitHub</a></li>
                    <li><a href="https://telegram.me/dncuug">Telegram</a></li>
                    <li><a href="https://twitter.com/dncuug">Twitter</a></li>			
                </ul>
            </div>
            <div class="col-md-3">
                <h4>Platform</h4>
                <ul>
                    <li><a href="https://microsoft.com/net/core">.NET Core</a></li>
                    <li><a href="https://docs.microsoft.com/en-us/aspnet/core/">ASP.NET Core</a></li>
                    <li><a href="https://docs.microsoft.com/en-us/dotnet/">Documentation</a></li>
                    <li><a href="https://github.com/dncuug/awesome-dotnet-core">Awesome .NET Core</a></li>			
                </ul>
            </div>
            <div class="col-md-4">
                <h4>Concept</h4>
                Our community is a union of developers, who use .NET Core technology stack – the free open source cross platform framework.
            </div>
            <div class="col-md-3 text-right">
                <br />

                <p>.NET Core Ukrainian User Group &copy; 2017</p>
            </div>            
        </section>    
    </footer>
    
    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)

    <div id="fb-root"></div>
    <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.10&appId=112146102787692";
    fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-5273549-33', 'auto');
    ga('send', 'pageview');
    </script>
    
    <script>
    ((window.gitter = {}).chat = {}).options = {
        room: 'dncuug/Lobby'
    };
    </script>
    <script src="https://sidecar.gitter.im/dist/sidecar.v1.js" async defer></script>

</body>
</html>
