@model Core.ViewModels.PublicationViewModel

<div class="publication-preview">
    <div class="image-block">
            @if (string.IsNullOrEmpty(Model.Image)) {
                <img class="img-responsive" alt="@Model.Title" src="http://dot-net.in.ua/images/news.jpg" />
            }
            else{
                <img class="img-responsive" alt="@Model.Title" src="@Model.Image" />
            }
    </div>
    <section>

        <h3 class="text-left">
            @Model.Title

            @if(@Model.Category != null) {
                <span class="label category-label label-default">@Model.Category.Name</span>
            }
        </h3>

        <div class="date">
            @Model.DateTime.ToString("MMMM dd, yyyy") 
        </div>    
        <div class="row">
            <div class="col-md-12 description">
                @Model.Description
            </div>    
        </div>
        <div class="row share">
            <div class="col-md-4">
                <a class="btn btn-social-icon btn-twitter" target="blank" href="https://twitter.com/home?status=@Model.ShareUrl"><span class="fa fa-twitter"></span></a>
                <a class="btn btn-social-icon btn-facebook" target="blank" href="https://www.facebook.com/sharer/sharer.php?u=@Model.ShareUrl"><span class="fa fa-facebook"></span></a>
                <a class="btn btn-social-icon btn-google" target="blank" href="https://plus.google.com/share?url=@Model.ShareUrl"><span class="fa fa-google"></span></a>
                <a class="btn btn-social-icon btn-linkedin" target="blank" href="https://www.linkedin.com/shareArticle?mini=true&url=@Model.ShareUrl&title=@Model.Title"><span class="fa fa-linkedin"></span></a>
                <a class="btn btn-social-icon btn-vk" target="blank" href="https://vk.com/share.php?url=@Model.ShareUrl"><span class="fa fa-vk"></span></a>
            </div>
            <div class="col-md-8 text-right">
                <a class="btn btn-default" target="blank" href="@Model.Url">Перейти к оригиналу&nbsp;<i class="glyphicon glyphicon-log-in"></i></a>
                <a class="btn btn-default" href="/post/@Model.Id">Подробнее&nbsp;<i class="glyphicon glyphicon-info-sign"></i></a>                
            </div>
        </div>
    </section>
</div>