@model WebSite.ViewModels.PublicationViewModel
@{
    var categoryLink = $"/page/1?categoryId={Model.Category.Id}";
}

<div class="publication-preview">
    <div class="row">
        <div class="col-md-12">
            <h3 class="text-left">
                <a href="@Model.ShareUrl">
                    @Model.Title
                </a>
            </h3>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-12">
            <div class="date">
                @Model.DateTime.ToString("MMMM dd, yyyy")
            </div>
            <div class="views" title="Views count">
                <i class="glyphicon glyphicon-stats"></i>&nbsp; @Model.ViewsCount
            </div>
        </div>
    </div>
    
    <section class="row">
        <div class="col-md-12 description">
            @Model.Description
        </div>
    </section>
    
    <div class="row">
        <div class="col-md-4">
            @if (Model.Category != null)
            {
                <a href="@categoryLink" class="label @Model.Category.CssClass label-default">@Model.Category.Name</a>
            }
        </div>
        <div class="col-md-8 text-right">
            @if (Model.Url != null && string.IsNullOrEmpty(Model.EmbededPlayerCode))
            {
                <a class="btn btn-default" target="blank" href="@Model.Url">Original publication&nbsp;<i class="glyphicon glyphicon-log-in"></i></a>
            }
            <a class="btn btn-default" href="@Model.ShareUrl">Read&nbsp;<i class="glyphicon glyphicon-info-sign"></i></a>
        </div>
    </div> 
    
</div>
