@model Core.ViewModels.VacancyViewModel

<div class="vacancy-preview">
    <section>

        <h3 class="text-left">
            @Model.Title
        </h3>

        <div class="date">
            @Model.Date.ToString("MMMM dd, yyyy") 
        </div>    
        <div class="row">
            <div class="col-md-12 description">
                @Model.Description
            </div>    
        </div>
        <div class="row share">
            <div class="col-md-4">
                @Html.Partial("_SocialButtons", new Core.Link(Model.Title, Model.ShareUrl))
            </div>
            <div class="col-md-8 text-right">
                <span class="label category-label label-default">@Model.Category.Name</span> 

                <a class="btn btn-default" href="@Model.ShareUrl">View details...&nbsp;<i class="glyphicon glyphicon-eur"></i></a>
            </div>
        </div>
    </section>
</div>
