@model Core.ViewModels.VacancyViewModel

<div class="vacancy-preview">
    <section>

        <h3 class="text-left">
            @Model.Title
        </h3>
        
        <h4>@Model.Company</h4>

        <div class="date">
            @Model.Date.ToString("MMMM dd, yyyy")
        </div>
        <div class="views" title="Views count">
            <i class="glyphicon glyphicon-stats"></i>&nbsp; @Model.ViewsCount
        </div>
        
        <div class="clear"></div>
        
        <div class="row">
            <div class="col-md-12 description">
                @Model.Description
            </div>
        </div>
        <div class="row share">
            <div class="col-md-4">
                <span class="label @Model.Category.CssClass label-default">@Model.Category.Name</span>
            </div>
            <div class="col-md-8 text-right">
                <a class="btn btn-default" href="@Model.ShareUrl">View details...&nbsp;<i class="glyphicon glyphicon-eur"></i></a>
            </div>
        </div>
    </section>
</div>
