@section head {
    <meta property="og:site_name" content=".NET Core Ukrainian User Group" />
    <meta property="og:title" content="@ViewData["Title"]" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="@Core.Settings.Current.WebSiteUrl" />
    <meta property="og:image" content="@Core.Settings.Current.FacebookImage" />
    <meta property="og:description" content="@Core.Settings.Current.DefaultDescription" />

    <meta property="author" content="@Core.Settings.Current.WebSiteTitle" />
    <meta property="article:author" content="https://www.facebook.com/dncuug/">

    <meta name="keywords" content="@Core.Settings.Current.DefaultKeywords" />
    <meta name="description" content="@Core.Settings.Current.DefaultDescription" />
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <article class="col-md-12">
        <a href="http://dot-net.in.ua">dot-net.in.ua</a> is an aggregator of news from the world of .NET Core and Xamarin. Our site is filling with publications related to cross-platform development, .NET technology stack and development for mobile devices on the Xamarin platform. 
        <br />
        This site is open source project, which placed on <a href="https://github.com/dncuug/dot-net.in.ua"> GitHub</a>.
        <br />
        We use .NET Core for develope it  and we host all our stuff on Microsoft Azure. <br />
        <br />
        If you have ideas for improving the work of the site, or for filling it - <a href="https://github.com/dncuug/dot-net.in.ua/issues"> write </a>!
    </article>
</div>
<div class="row">
    <article class="col-md-12">
        <h2>About project founders</h2>

        <div class="panel panel-default">
            <div class="panel-body">
                <div class="col-md-3">
                    <img class="img-responsive img-thumbnail" src="https://scontent.fiev3-1.fna.fbcdn.net/v/t1.0-9/18157318_1173437062802376_7889155451464875729_n.jpg?oh=1ef7335395be7a56916ae013214b5b39&amp;oe=5A2D7A52" alt="Фото Andrew Gubskiy." />
                </div>
                <div class="col-md-9">
                    <h3 class="media-heading">
                        <a href="https://andrew.gubskiy.com">Andrew Gubskiy</a>
                    </h3>
                    <h4>.NET Core Ukrainian User Group Founder</h4>
                    IT Consultant, IT projects manager, specialist in software development. CTO at <a href="https://torf.tv">Torf TV</a> project.<br />
                    Professional interests: 
                    <ul>
                        <li>Software Architecture;</li>
                        <li>Databases;</li>
                        <li>Cloud Technologies.</li>
                    </ul>
                    The main activity is the development of integrated cross platform systems and web applications based on cloud platforms.
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-body">
                <div class="col-md-3">
                    <img class="img-responsive img-thumbnail" src="https://scontent.fiev3-1.fna.fbcdn.net/v/t1.0-9/20638091_10214127776287479_639128778974174627_n.jpg?oh=7995e26acf97082826c7af010050989c&oe=5A1479F9" alt="Фото Дмитрий Иванов." />
                </div>
                <div class="col-md-9">
                    <h2 class="media-heading">
                        <a href="https://facebook.com/drakonoffnet">Dmytriy Ivanov</a>
                    </h2>
                    <h4>Xamarin Ukraine User Group Founder</h4>
                    Professional interests: 
                    <ul>
                        <li>Mobile Development</li>
                        <li>Cloud Technologies.</li>
                    </ul>
                    The main activity is the development of the Web and Mobile applications.
                </div>
            </div>
            </div>
    </article>

</div>
      
