@section head {
    <meta property="og:site_name" content=".NET Core Ukrainian User Group" />
    <meta property="og:title" content="@ViewData["Title"]" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="@Core.Settings.Current.WebSiteUrl" />
    <meta property="og:image" content="@Core.Settings.Current.FacebookImage" />
    <meta property="og:description" content="@Core.Settings.Current.DefaultDescription" />

    <meta property="author" content="@Core.Settings.Current.WebSiteTitle" />
    <meta property="article:author" content="https://www.facebook.com/dncuug/">

    <meta name="keywords" content="@Core.Settings.Current.DefaultKeywords" />
    <meta name="description" content="@Core.Settings.Current.DefaultDescription" />
}


<h1>@ViewData["Title"]</h1>

<div class="row">
    <article class="col-md-12">
        Сайте DOT NET in UA – это сайт-агрегатор новостей из мира .NET разработки. Сейчас сайт наполняется публикациями относящимися к кросплатформенной разработке на базе .NET Core и разработке под мобильные устройства на платформе Xamarin.<br />
        Сайт является проектом с <a href="https://github.com/dncuug/dot-net.in.ua">открытым исходным кодом</a> и релизован на базе .NET Core и размещен в Microsoft Azure.<br />
        <br />
        В ближайших планах нашей команды – создание дайджеста мероприятий и авторских блогов.<br />
        <br />
        Если У вас есть идеи по улучшению работы сайта, или по его наполнению – <a href="https://github.com/dncuug/dot-net.in.ua/issues">пишите</a>!
    </article>
</div>
<div class="row">
    <article class="col-md-12">
        <h2>Авторы проекта</h2>

        <div class="panel panel-default">
            <div class="panel-body">
                <div class="col-md-3">
                    <img class="img-responsive img-thumbnail" src="https://scontent.fiev3-1.fna.fbcdn.net/v/t1.0-9/18157318_1173437062802376_7889155451464875729_n.jpg?oh=1ef7335395be7a56916ae013214b5b39&amp;oe=5A2D7A52" alt="Фото Andrew Gubskiy." />
                </div>
                <div class="col-md-9">
                    <h3 class="media-heading">
                        <a href="https://andrew.gubskiy.com">Андрей Губский</a>
                    </h3>
                    <h4>Основатель .NET Core Ukrainian User Group</h3>
                    ИТ-консультант, руководитель ИТ-проектов, специалист в области разработки программного обеспечения.<br />                                
                    Профессиональные интересы: 
                    <ul>
                        <li>архитектура программного обеспечения;</li>
                        <li>базы данных;</li>
                        <li>облачные технологии.</li>
                    </ul>
                    Основное направление деятельности - разработка интегрированных систем и веб-приложений на основе облачных платформ. 
                </div>
            </div>
        </div>

            <div class="panel panel-default">
            <div class="panel-body">
                <div class="col-md-3">
                    <img class="img-responsive img-thumbnail" src="https://scontent.fiev3-1.fna.fbcdn.net/v/t1.0-9/20638091_10214127776287479_639128778974174627_n.jpg?oh=7995e26acf97082826c7af010050989c&oe=5A1479F9" alt="Фото Дмитрий Иванов." />
                </div>
                <div class="col-md-9">
                    <h2 class="media-heading">
                        <a href="https://www.facebook.com/drakonoffnet">Дмитрий Иванов</a>
                    </h2>
                    <h4>Основатель Xamarin Ukraine User Group</h4>
                    Профессиональные интересы: 
                    <ul>
                        <li>технологии мобильной разработки;</li>
                        <li>облачные технологии.</li>
                    </ul>
                    Основное направление деятельности - разработка Веб и Мобильных приложений.
                </div>
            </div>
            </div>
    </article>

</div>
      
