@using X.PagedList;
@using X.PagedList.Mvc.Core;
@model IPagedList<Core.ViewModels.PublicationViewModel>
@{
    ViewData["Title"] = "Welcome!";
}

@section head {

    <meta property="og:title" content="@Core.Settings.Current.WebSiteTitle" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="@Core.Settings.Current.WebSiteUrl" />
    <meta property="og:image" content="@Core.Settings.Current.FacebookImage" />
    <meta property="og:description" content="@Core.Settings.Current.DefaultDescription" />

    <meta name="keywords" content="@Core.Settings.Current.DefaultKeywords" />
    <meta name="description" content="@Core.Settings.Current.DefaultDescription" />
}

@section top {
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container"> 
           
            <h1>Welcome to the daily developers digest!</h1>        
            <h3 style="color: #FFF">All news and events will be here!</h3>
            <span style="color: #FFF">
                Project supported by .NET Core Ukrainian User Group,  Microsoft Azure Ukraine User Group and Xamarin Ukraine User Group!
            </span>
           
        </div>
    </div>
}

@for (var i=0; i<Model.Count(); i++)
{    
    @Html.Partial("_Publication", Model[i])

    if (i == 2) { @Html.Partial("_InFeedAd") }

    if (i == 0) { @Html.Partial("_SmartContent") }    
}

@Html.PagedListPager(Model, page => $"/page/{page}")
