@using X.PagedList;
@using X.PagedList.Mvc.Core;
@model IPagedList<Core.ViewModels.PublicationViewModel>
@{
    ViewData["Title"] = "Добро пожаловать!";
}

@section head {

    <meta http-equiv="Content-type" content="text/html; charset=UTF-8" />

    <meta property="og:site_name" content="@Core.Settings.Current.WebSiteTitle" />
    <meta property="og:title" content="@Core.Settings.Current.WebSiteTitle" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="@Core.Settings.Current.WebSiteUrl" />
    <meta property="og:image" content="@Core.Settings.Current.FacebookImage" />
    <meta property="og:description" content="@Core.Settings.Current.DefaultDescription" />

    <meta property="author" content="@Core.Settings.Current.WebSiteTitle" />
    <meta property="article:author" content="https://www.facebook.com/dncuug/">
    
    <meta name="keywords" content="@Core.Settings.Current.DefaultKeywords" />
    <meta name="description" content="@Core.Settings.Current.DefaultDescription" />
}

@section top {
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <!-- <h1>.NET Core Ukrainian User Group</h1>         -->        
            <div class="col-md-8">
                <h1>Добро пожаловать в украинское сообщество разработчиков на платформе .NET Core!</h1>        
                <!-- <img class="img-responsive" src="https://www.microsoft.com/net/images/home-hero.png" />         -->
            </div>
            <div class="col-md-4 social">
                <!-- <p>Добро пожаловать на сайт украинской группы разработчиков на платформе .NET Core!</p>
                Наши страницы в: -->
                Присоединяйтесь к нам:
                <ul style="list-style: none; padding-left: 10px;">
                    <li>– <a href="https://www.facebook.com/groups/dncuug/">Facebook</a></li>
                    <li>– <a href="https://github.com/dncuug">GitHub</a></li>
                    <li>– <a href="https://telegram.me/dncuug">Telegram</a></li>
                    <li>– <a href="https://gitter.im/dncuug/Lobby">gitter</a></li>			
                </ul>
            </div>
        </div>
    </div>
}


@foreach (var p in Model)
{
    @Html.Partial("_Publication", p)
}

@Html.PagedListPager(Model, page => $"/page/{page}")
