@using X.PagedList;
@using X.PagedList.Mvc.Core;
@model IPagedList<Core.ViewModels.PublicationViewModel>
@{
    ViewData["Title"] = "Welcome!";
}

@section head {

    <meta property="og:title" content="@Core.Settings.Current.WebSiteTitle" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="@Core.Settings.Current.WebSiteUrl" />
    <meta property="og:image" content="@Core.Settings.Current.FacebookImage" />
    <meta property="og:description" content="@Core.Settings.Current.DefaultDescription" />

    <meta name="keywords" content="@Core.Settings.Current.DefaultKeywords" />
    <meta name="description" content="@Core.Settings.Current.DefaultDescription" />
}

@section top {
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container"> 
            <div class="col-md-8">
                <h1>Welcome to the Ukrainian community of developers on the .NET Core platform!</h1>        
            </div>
            <div class="col-md-4 social text-right">
                <ul class="social-icons">                    
                    <li><a class="fa fa-telegram" href="https://telegram.me/dncuug"></a></li>
                    <li><a class="fa fa-github" href="https://github.com/dncuug"></a></li>
                    <li><a class="fa fa-facebook-official" href="https://facebook.com/groups/dncuug"></a></li>                    
                </ul>
            </div>
        </div>
    </div>
}

@for (var i=1; i<Model.Count(); i++)
{    
    @Html.Partial("_Publication", Model[i])

    @if (i == 2) { @Html.Partial("_InFeedAd") }
}

@Html.PagedListPager(Model, page => $"/page/{page}")
