@section head {
    <meta property="og:site_name" content=".NET Core Ukrainian User Group" />
    <meta property="og:title" content="@ViewData["Title"]" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="@Core.Settings.Current.WebSiteUrl" />
    <meta property="og:image" content="@Core.Settings.Current.FacebookImage" />
    <meta property="og:description" content="@Core.Settings.Current.DefaultDescription" />

    <meta property="author" content="@Core.Settings.Current.WebSiteTitle" />
    <meta property="article:author" content="https://www.facebook.com/dncuug/">
    
    <meta name="keywords" content="@Core.Settings.Current.DefaultKeywords" />
    <meta name="description" content="@Core.Settings.Current.DefaultDescription" />
}

<div class="container">
    <!-- Example row of columns -->
    <div class="row post">
        <div class="col-md-8">
            <h1>@ViewData["Title"]</h1>

            <h3>Microsoft Azure Ukraine User Group</h3>
            <section>
                Группа разработчиков и архитекторов приложений в облаке Microsoft Azure в Украине
                <br />
                <a href="https://www.facebook.com/groups/azure.ua/">Перейти на сайт</a>
            </section>

            <h3>Xamarin Ukraine User Group</h3>
            <section>
                Это группа для тех кто занимается разработкой приложения использование Xamarin.
                <br />
                <a href="https://www.facebook.com/groups/xamarin.ua">Перейти на сайт</a>
            </section>

            <h3>Metarhia</h3>
            <section>
                Metarhia это связанный с Node.js технологический стек, включающий компоненты: сервер приложений Impress, RPC/MQ протокол JSTP, СУБД Global Storage, библиотеку для асинхронного программирования Metasync и другие технологии, позволяющие разрабатывать современные распределенные информационные системы для мобильных устройств, веба и серверов с JavaScript в качестве основного языка
                <br />
                <a href="http://metarhia.com">Перейти на сайт</a>
            </section>
       
        </div>
        <div class="col-md-8">

        </div>
    </div>
</div>