@model WebSite.ViewModels.PlatformViewModel
@{
    Layout = "_GeneralLayout";
}

<div class="row">
    <section class="col-md-12">
        <h1>Platform</h1>

        This project is an information space for people who live in the modern world of IT technologies. For developers, 
        analysts, architects, and engineers. With //devdigest you always have:
        <ul>
            <li>regular news and announcements;</li>
            <li>manually selected materials;</li>
            <li>a community of highly skilled peoples who can help you.</li>
        </ul>
        
        You can find us on Telegram, Facebook, and Twitter.
    </section>
</div>

<div class="row">
    <section class="col-md-12">
    
        <h2>Telegram</h2>
        Here you can find our Telegram channels. We strongly recommend subscribe to them!
        <br /><br />
        <div class="container-fluid">
            @for (var i = 0; i < Model.Telegram.Count; i++)
            {
                var item = Model.Telegram.ElementAt(i);

                <div class="channel-preview row">
                    <div class="col-md-3">
                        <img class="" style="width: 100%" alt="@item.Title" src="@item.Logo"/>
                    </div>
                    <div class="col-md-9">
                        <h3 class="text-left">@item.Title</h3>
                        @item.Description
                        <div class="text-right">
                            <a class="btn btn-default" href="@item.Url">Open channel&nbsp;<i class="glyphicon glyphicon-send"></i></a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </section>
</div>


<div class="row">
    <section class="col-md-12">
    
        <h2>Twitter</h2>
        Here you can find our Twitter!
        <br /><br />
        <div class="container-fluid">
            @for (var i = 0; i < Model.Twitter.Count; i++)
            {
                var item = Model.Twitter.ElementAt(i);

                <div class="channel-preview row">
                    <div class="col-md-3">
                        <img class="" style="width: 100%" alt="@item.Title" src="@item.Logo"/>
                    </div>
                    <div class="col-md-9">
                        <h3 class="text-left">@item.Title</h3>
                        @item.Description
                        <div class="text-right">
                            <a class="btn btn-default" href="@item.Url">Open channel&nbsp;<i class="glyphicon glyphicon-send"></i></a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </section>
</div>

<div class="row">
    <section class="col-md-12">
        
        <h2>Facebook</h2>
        Here you can find our Facebook pages and groups.
        <br /><br />
        <div class="container-fluid">
        @for (var i = 0; i < Model.Facebook.Count; i++)
        {
            var item = Model.Facebook.ElementAt(i);

            <div class="channel-preview row">
                <div class="col-md-3">
                    <img class="" style="width: 100%" alt="@item.Title" src="@item.Logo"/>
                </div>
                <div class="col-md-9">
                    <h3 class="text-left">@item.Title</h3>
                    @item.Description
                    <div class="text-right">
                        <a class="btn btn-default" href="@item.Url">Visit page&nbsp;<i class="glyphicon glyphicon-thumbs-up"></i></a>
                    </div>
                </div>
            </div>
        }
        </div>
    </section>
</div>
      
