@model Core.ViewModels.PublicationViewModel

@section head {
    <meta property="og:title" content="@Model.Title" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="@Model.ShareUrl" />
    <meta property="og:image" content="@Model.Image" />
    <meta property="og:description" content="@Model.Description" />    

    <meta name="keywords" content="@Model.Keywords" />
    <meta name="description" content="@Model.Description" />
}

<h1>@Model.Title</h1>
<div class="date">
    @Model.DateTime.ToString("MMMM dd, yyyy") 
</div>    

@if (string.IsNullOrEmpty(Model.EmbededPlayerCode)) {
    <div class="image-block inner">
        @if (string.IsNullOrEmpty(Model.Image)) {
            <img class="img-responsive" alt="@Model.Title" src="@Core.Settings.Current.DefaultPublicationImage" />
        }
        else{
            <img class="img-responsive" alt="@Model.Title" src="@Model.Image" />
        }
    </div>
}

@if (!string.IsNullOrEmpty(Model.EmbededPlayerCode)) {
    
    <div class="row">
        <div class="col-md-12 video">
            @Html.Partial("_EmbededPlayer", Model.EmbededPlayerCode)
        </div>    
    </div>
}

<div class="row">
    <article class="col-md-12">
        @if (string.IsNullOrEmpty(@Model.Content)) {
            @Model.Description
        } else {
            @Html.Raw(@Model.Content)
        }
    </article>    
</div>

<div class="row share">
    <div class="col-md-6">
        @Html.Partial("_SocialButtons", new Core.Link(Model.Title, Model.ShareUrl))
    </div>
    <div class="col-md-6 text-right">
        @if (Model.Url != null) {        
            <a class="btn btn-default" target="blank" href="@Model.Url">Go to original publication&nbsp;<i class="glyphicon glyphicon-log-in"></i></a>
        }
    </div>
</div>   

@Html.Partial("_PostStructuredData", Model)

<section class="col-md-12 comments">
    <div class="fb-comments" data-href="@Model.ShareUrl" data-width="100%" data-numposts="10"></div>     
</section>
