@model Core.ViewModels.VacancyViewModel

@section head {
    <meta property="og:site_name" content=".NET Core Ukrainian User Group" />
    <meta property="og:title" content="@Model.Title" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="@Model.ShareUrl" />
    <meta property="og:image" content="@Model.Image" />
    <meta property="og:description" content="@Model.Description" />    

    <meta property="author" content="@Core.Settings.Current.WebSiteTitle" />
    <meta property="article:author" content="https://www.facebook.com/dncuug/">
    
    @*<meta name="keywords" content="@Model.Keywords" />*@
    <meta name="description" content="@Model.Description" />
}

<h1>Vacancy</h1>
<h3>@Model.Title</h3>
<div class="date">
    @Model.Date.ToString("MMMM dd, yyyy") 
</div>    

<div class="row">
    <article class="col-md-12">
        @if (string.IsNullOrEmpty(@Model.Content)) {
            @Model.Description
        } else {
            @Html.Raw(@Model.Content)
        }

        <br /><br />

        <!-- <div class="panel panel-default">
            <div class="panel-body">
                <div class="col-md-9">
                    <b>Contact details:</b> @Model.Contact
                </div>
                
                <div class="col-md-3 text-right">        
                    @if(Model.ContactType == Core.ContactType.Facebook)
                    {	
                        <a class="btn btn-success btn-contact"  target="_contact" href="Model.Contact"><i class="glyphicon glyphicon-info-sign"></i>&nbsp;View on Facebook</a>	
                    }

                    @if(Model.ContactType == Core.ContactType.LinkedIn)
                    {
                        <a class="btn btn-success btn-contact"  target="_contact" href="Model.Contact"><i class="glyphicon glyphicon-info-sign"></i>&nbsp;View on LinkedIn</a>	
                    }

                    @if(Model.ContactType == Core.ContactType.WebSite)
                    {	
                        <a class="btn btn-success btn-contact"  target="_contact" href="Model.Contact"><i class="glyphicon glyphicon-info-sign"></i>&nbsp;Go To Website</a>
                    }

                    @if(Model.ContactType == Core.ContactType.Email)
                    {
                        <a class="btn btn-success btn-contact"  target="_contact" href="mailto:"><i class="glyphicon glyphicon-info-sign"></i>&nbsp;Send email</a>	
                    }

                    @if(Model.ContactType == Core.ContactType.Phone)
                    {

                        <a class="btn btn-success btn-contact"  target="_contact" href="tel:"><i class="glyphicon glyphicon-info-sign"></i>&nbsp;Call Now</a>
                    }

                    @if(Model.ContactType == Core.ContactType.Default)
                    {
                        
                    }
                </div>                
            </div>
        </div> -->

    </article>    
        
</div>

<div class="row share">
    <div class="col-md-6">
        <a class="btn btn-social-icon btn-twitter" target="blank" href="https://twitter.com/home?status=@Model.ShareUrl"><span class="fa fa-twitter"></span></a>
        <a class="btn btn-social-icon btn-facebook" target="blank" href="https://www.facebook.com/sharer/sharer.php?u=@Model.ShareUrl"><span class="fa fa-facebook"></span></a>
        <a class="btn btn-social-icon btn-google" target="blank" href="https://plus.google.com/share?url=@Model.ShareUrl"><span class="fa fa-google"></span></a>
        <a class="btn btn-social-icon btn-linkedin" target="blank" href="https://www.linkedin.com/shareArticle?mini=true&url=@Model.ShareUrl&title=@Model.Title"><span class="fa fa-linkedin"></span></a>
        <a class="btn btn-social-icon btn-vk" target="blank" href="https://vk.com/share.php?url=@Model.ShareUrl"><span class="fa fa-vk"></span></a>
    </div>
    <div class="col-md-6 text-right">        
        @if(Model.ContactType == Core.ContactType.Facebook)
        {	
            <a class="btn btn-success btn-contact"  target="_contact" href="Model.Contact"><i class="glyphicon glyphicon-info-sign"></i>&nbsp;View on Facebook</a>	
        }

        @if(Model.ContactType == Core.ContactType.LinkedIn)
        {
            <a class="btn btn-success btn-contact"  target="_contact" href="Model.Contact"><i class="glyphicon glyphicon-info-sign"></i>&nbsp;View on LinkedIn</a>	
        }

        @if(Model.ContactType == Core.ContactType.WebSite)
        {	
            <a class="btn btn-success btn-contact"  target="_contact" href="Model.Contact"><i class="glyphicon glyphicon-info-sign"></i>&nbsp;Go To Website</a>
        }

        @if(Model.ContactType == Core.ContactType.Email)
        {
            <a class="btn btn-success btn-contact"  target="_contact" href="mailto:"><i class="glyphicon glyphicon-info-sign"></i>&nbsp;Send email</a>	
        }

        @if(Model.ContactType == Core.ContactType.Phone)
        {

            <a class="btn btn-success btn-contact"  target="_contact" href="tel:"><i class="glyphicon glyphicon-info-sign"></i>&nbsp;Call Now</a>
        }

        @if(Model.ContactType == Core.ContactType.Default)
        {
            
        }
    </div>
</div>   

<section class="col-md-12 comments">
    <div class="fb-comments" data-href="@Model.ShareUrl" data-width="100%" data-numposts="10"></div>     
</section>
